body{
    background-image: linear-gradient(rgb(92, 79, 79), rgb(33, 33, 15));
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
p{
    color: aliceblue;
}
button{
    margin: 50px;
    background-color: azure;
    color: black;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
button:hover{
    background-color: rgb(211, 225, 225);
}
